<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /Dev/
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ [L,R=301,NC]
RewriteCond %{HTTP_HOST} ^localhost [NC]
</IfModule>



RewriteCond %{THE_REQUEST} \.php [NC]

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^(?!404\.php)$ - [L,NC,R=404]




RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}.php -f

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^([^/]+)/?(.*)$ ./$1.php [L]



#bysrikantadora211118

RewriteEngine On


RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^([^/]*)movers/([^/]*)\-([^/]*) /moving.php?name1=$1&compname=$2&id=$3 [L]




#by aspirant hark

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^([^/]*)movers11/([^/]*)\-([^/]*)\/$ /movinglatest.php?name1=$1&compname=$2&id=$3 [L]







#by aspirant hark

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^([^/]*)movers12/([^/]*)\-([^/]*)\/$ /moving12.php?name1=$1&compname=$2&id=$3 [L]




RewriteEngine On

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^([^/]*)movers1/([^/]*)\-([^/]*)\/$ /Garland-moving-group_dynamic1.php?name1=$1&compname=$2&id=$3 [L]

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^usa/([^/]*)\-movers-([^/]*)\/$ /state.php?statename=$1&stateshrtname=$2 [L]


#code comment by aspirant

#RewriteEngine On

#RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

#RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

#RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

#RewriteRule ^usa1/([^/]*)\-movers-([^/]*)\/$ /state1.php?statename=$1&stateshrtname=$2 [L]



RewriteEngine On

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^moving-companies/([^/]*)\-([^/]*)\-([^/]*)\/$ /city.php?cityname=$1&stateshrtname=$2&zipcode=$3 [L]

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^routes/([^/]*)-to-([^/]*)-movers\/$ /route.php?pickupcity=$1&destinationcity=$2 [L]

RewriteEngine On

RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?

RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Sectigo\ DCV)?$

RewriteRule ^routes/([^/]*)-to-([^/]*)-movers-([^/]*)\/$ /route.php?pickupcity=$1&destinationcity=$2&zipcode=$3 [L]

#remove index.php by indrakumar
RewriteEngine On
RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]
