Options +FollowSymLinks
RewriteEngine on
RewriteBase /Dev/
#RewriteCond %{HTTP_HOST} !^localhost$ [NC]

RewriteRule ^usa/([^/]*)\-movers-([^/]*)/ state.php?statename=$1&stateshrtname=$2 [L]
RewriteRule ^([^/]*)movers/([^/]*)\-([^/]*) moving.php?name1=$1&compname=$2&id=$3 [L]
RewriteRule ^([^/]*)movers1/([^/]*)\-([^/]*)\/$ Garland-moving-group_dynamic1.php?name1=$1&compname=$2&id=$3 [L]
RewriteRule ^moving-companies/([^/]*)\-([^/]*)\-([^/]*) city.php?cityname=$1&stateshrtname=$2&zipcode=$3 [L]
RewriteRule ^routes/([^/]*)-to-([^/]*)-movers route.php?pickupcity=$1&destinationcity=$2 [L]

